/* Variables */

/* Document & Container */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: lightskyblue;
}

main {
    flex: 1;
    width: 100%;
}

footer {
    height: 100px;
    background-color: lightskyblue;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    margin-top: 40px;
}

.maincontainer {
    display: flex;
    width: 100%;
    padding: 16px;
    gap: 8px;
}

.input-div {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: beige;
    padding: 16px;
    border-radius: 16px;
}

.content-div {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    border-radius: 16px;
    background-color: beige;
    gap: 8px;
    padding: 8px;
}

/* Link Styling */

a {
    text-decoration: none;
}

/* Headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Components */

.card {
    padding: 16px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    width: 100%;
}

.boardcard {
    padding: 16px;
    margin: 8px;
    background-color: lavender;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    justify-content: space-between;
    overflow: hidden !important;
}

.content {
    flex-direction: column;
}

.card p {
    width: 100%;
}

.close:hover {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.seperator {
    height: 40px;
}

.assign {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: unset;
    border-radius: 16px;
    padding: 8px;
    margin: 8px 0;
}

.task {
    display: flex;
    flex-direction: column;
    background-color: lavender;
    border: unset;
    border-radius: 16px;
    padding: 8px;
    margin: 8px 0;
}

.content-column {
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: aliceblue;
    border-radius: 16px;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.sub-form {
    padding: 8px 24px;
    background-color: aliceblue;
    border-radius: 16px;
    margin: 8px 0;
}

.render-subtask {
    padding: 8px 24px;
    background-color: aliceblue;
    border-radius: 16px;
    margin: 8px 0;
}

.margin {
    margin: 32px 8px 4px;
}

.margin-low {
    margin-top: 8px;
}

.trick {
    margin-left: 8px;
    margin-top: 8px;
}

.draggable {
    height: 100%;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: beige;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
}

.d-none {
    display: none !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btns {
    width: 100%;
    display: flex;
    justify-content: center;    
}

.btnlog {
    margin: 8px 4px 0 4px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.title {
    font-size: 80px;
}