.card {
    padding: 16px;
    margin: 8px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 16px;
    width: 100%;
}

.boardcard {
    padding: 16px;
    margin: 8px;
    background-color: lavender;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 16px;
    justify-content: space-between;
    overflow: hidden !important;
}

.content {
    flex-direction: column;
}

.content-list-left {
    margin: 16px;
}

.card p {
    width: 100%;
}

.close:hover {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.seperator {
    height: 40px;
}